.usersidebar_container {
  height: 100%;
  position: relative;
}

.usersidebar {
  height: 975px;
  position: absolute;
  top: 0px;
  left: 120px;
  width: 280px;
  background-image: linear-gradient(to bottom, #ffffff 50%, #f3f3f3 50%);
  align-items: center;
  z-index: 10;
  overflow: visible;
  box-shadow: -125px -50px 95px rgba(0, 0, 0, 0.4);
  animation: slide 0.7s ease-in-out;
}

@keyframes slide {
  from {
    transform: translate(100%);
  }
  to {
    right: 0;
  }
}

.img-container {
  padding: 30px;
  background-color: #ffef64;
}

.side-logo {
  width: 132px;
  height: 89px;
}

.nav-link {
  text-decoration: none;
  top: 70px;
  font-family: "Inter";
  font-size: 13px;
}
