.usersidebar_container {
  height: 100%;
  position: relative;
}

.usersidebar {
  height: 945px;
  position: absolute;
  top: -1113px; /* 사이드바 위치조절*/
  left: 120px;
  width: 280px;
  background-image: linear-gradient(to bottom, #ffffff 50%, #f3f3f3 50%);
  //opacity: 0.5;
  align-items: center;
  z-index: 1;
  overflow: visible;
}

.img-container {
  padding: 30px;
  background-color: #ffef64;
}

.side-logo {
  width: 132px;
  height: 89px;
}

.nav-link {
  text-decoration: none;
  top: 70px;
  font-family: "Inter";
  font-size: 13px;
}
