.main-page {
  height: 100vh;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column; /* 수직 방향으로 나열 */
  align-items: center; /* 수직 가운데 정렬 */
  padding-top: 170px;
  overflow-y: auto;
}

.main2,
.main3,
.main4,
.main5,
.main6,
.main7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px; /* 이미지 사이 간격 조절 */
}

.main1 {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 70px;
  display: block;
  animation: translateLeft 0.8s ease-in-out;
}

.main2 {
  animation: translateRight 0.8s ease-in-out 1s;
}

.main3 {
  animation: translateLeft 0.8s ease-in-out 2s;
}

.main4 {
  animation: translateRight 0.8s ease-in-out 3s;
}

.main5 {
  animation: translateLeft 0.8s ease-in-out 4s;
}

.main6 {
  animation: translateRight 0.8s ease-in-out 5s;
}

.main7 {
  animation: translateLeft 0.8s ease-in-out 6s;
}

@keyframes translateLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes translateRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
