.login-page {
  height: 100vh;
  background-color: white;
}

.logintext-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffef64;
  border-radius: 100px;
  padding: 15px;
  top: 230px;
}

.loginorsignup {
  font-family: "Inter";
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-top: 350px;
}

.loginbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
