:root {
  --vh: 100%;
}

body {
  margin: 0;
  font-family: "Inter";
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a1a1a1;
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}
