.go-home {
  position: absolute;
  margin-left: 17px;
  width: 420px;
  top: 80px;
  display: flex;
  color: #333333;

  font-family: "Inter";
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
}

.bottom-line {
  position: absolute;
  border: none;
  border-top: 1px solid #ccc;
  top: 120px;
  width: 400px;
}

.homeyellow-icon {
  position: absolute;
  margin-right: 100px;
  margin-left: 105px;
  width: 35px;
  top: 83px;
}

.sidebarbutton-icon {
  position: absolute;
  margin-left: 340px;
  width: 30px;
  top: 90px;
}
