.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color ease-in;
}

.nav-white {
  background-color: white;
  width: 400px;
  height: 130px;
}

.go-home {
  position: absolute;
  margin-left: 17px;
  width: 420px;
  top: 50px;
  display: flex;
  color: #333333;
  font-family: "Inter";
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
}

.bottom-line {
  position: absolute;
  border: none;
  border-top: 1px solid #ccc;
  top: 95px;
  width: 400px;
}

.homeyellow-icon {
  position: absolute;
  margin-right: 100px;
  margin-left: 105px;
  width: 35px;
  top: 55px;
}

.sidebarbutton-icon {
  position: absolute;
  margin-left: 340px;
  width: 30px;
  top: 60px;
  z-index: 1;
}
